<div class="container">
    <h2>Setup your Signature</h2>
    <form>
        <div class="label">Full Name</div>
        <input type="text" class="input" name="fullname" required>
        <div class="label">Initials</div>
        <input type="text" class="input" name="initials" required>
        <div class="label">Your Signature</div>
        <input type="file" class="input" name="signature" accept="image/*">
        <div class="signature-preview"></div>
        <button type="submit" class="button">Setup and Sign</button>
    </form>
</div>