.container {
    margin: 40px 15vw;
    /* Add margin to the body for better spacing */
}

.page-header {
    text-align: center;
    margin-bottom: 20px;
}

.page-header h1,
.page-header h2 {
    margin: 0;
}

.agreement-parties {
    margin-bottom: 20px;
}

.agreement-parties .party {
    display: block;
    margin-left: 40px;
    /* Indent each party */
    margin-bottom: 10px;
}

.agreement-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.agreement-number {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.section-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.paragraph {
    margin-bottom: 10px;
    text-align: justify;
}

.clause-number {
    font-weight: bold;
    margin-right: 10px;
}

.clause-content {
    margin-left: 20px;
}

.indent {
    margin-left: 40px;
}

.subclause-number {
    font-weight: bold;
    margin-right: 10px;
}

.subclause-content {
    margin-left: 20px;
}