<!-- <title>Third Party Holding Certificate</title> -->
<div class="header">
    <h2>Third Party Holding Certificate</h2>
</div>

<div class="ref-date">
    <div>Ref: GWEL/CFA/001</div>
    <div>Date: 24th April, 2024</div>
</div>

<div class="recipient">
    HEAD OF TRADE FINANCE<br>
    KCB BANK KENYA LIMITED<br>
    P.O BOX 48400 - 00100 NAIROBI
</div>

<div class="subject">
    RE: THIRD PARTY HOLDING CERTIFICATE FOR 480.000 MT LOCAL AGO DURING THE PERIOD 30/3/2024 -04/4/2024
</div>

<div class="subject">
    PURCHASE FROM GALANA ENERGIES LTD EX MT NORDOLPHIN
</div>

<div class="content">
    We intend to purchase 480.000 MT AGU for delivery per Ex - GULF ENERGY LTD during the period 30/3/2024 -
    04/4/2024. This particular import is financed by KCB BANK KENYA LTD from the arrangement we have with them on
    this import. The Bank / Financer would like us to immediately commence the Collateral Financing Arrangement with
    this particular import and we have no objection.

    <br>

    We would therefore like to request for a TPHE for this import. In this regard, we kindly request the following:

    <div class="request-item">
        1. That you will hold the entire quantity 480.000 MT AGO received at KOSF on cur account ex subject vessel.
        in trust and in favour of KCB BANK KENYA LTO. TRADE FINANCE, 1" FLOOR KCB TOWERS, UPPERHILL NAIROBI
    </div>

    <div class="request-item">
        2. That you will undertake not to release the product before KEB BANK KENYA LTO gives authorization
    </div>

    <div class="request-item">
        3. That you will advise KCB BANK LTD on the quality of PRODUCT that was discharged inta KPC on a/c of GREEN
        WELLS ENERGIES LIMITED Ex subject vessel
    </div>

    We therefore kindly request your co-operation on this matter and 2 written confirmation by return email to abide
    by our request and stating the quantity of the product that will rebuild trust.
</div>

<div class="signature">
    Yours Faithfully,
    <br><br>
    Caroline Adhiambo Okello<br>
    MANAGING DIRECTOR
</div>

<div class="sender-details">
    <div class="detail">Mega Plaza Building, 5th Floor Wing B</div>
    <div class="detail">P.O BOX 3936-40100, KISUMU</div>
    <div class="detail">Cell:01138640</div>
    <div class="detail">Email:info&#64;greenwellsenergies.com</div>
    <div class="detail">Web:www.greenwellsenergies.com</div>
    <div class="detail">Green Wells Energies Ltd is ISO 9001-2015 Certified</div>
</div>