<div class="container">
    <div class="header">
        <h2>Authority to Release Stock</h2>
    </div>

    <div class="date">
        24th April, 2024
    </div>

    <div class="parties">
        <div class="recipient">
            The Managing Director<br>
            Kenya Pipeline Company Limited<br>
            P.O Box 73442-00200 -00100 Nairobi Kenya
        </div>

        <span class="spacer"></span>

        <div class="sender">
            Corporate Banking Division<br>
            KCB Towers<br>
            Kenya Road Upperhill<br>
            P.O Box 48400 -00100 Nairobi, Kenya <br>
            Tel: +254 203270000<br>
            Mobile: +254 711012000
        </div>
    </div>


    <div class="subject">
        AUTHORITY TO RELEASE PETROLEUM PRODUCTS TO GREEN WELLS ENERGIES LTD
    </div>

    <div class="content">
        We hereby authorize you to release PMS as follows:

        <div class="release-details">
            <div class="release-details-item">
                <div class="release-details-item-label">REF:</div>
                <div class="release-details-item-value">PMS</div>
            </div>

            <div class="release-details-item">
                <div class="release-details-item-label">RELEASE:</div>
                <div class="release-details-item-value">120.00 MT OF PMS FROM EX GULF ENERGIES LTD EX - MT ZENOVIA</div>
            </div>

            <div class="release-details-item">
                <div class="release-details-item-label">R/NO:</div>
                <div class="release-details-item-value">.03</div>
            </div>

            <div class="release-details-item">
                <div class="release-details-item-label">TRANSPORTATION BY:</div>
                <div class="release-details-item-value">IIT</div>
            </div>

            <div class="release-details-item">
                <div class="release-details-item-label">COMPANY:</div>
                <div class="release-details-item-value">GREEN WELLS ENERGIES LTD</div>
            </div>
        </div>

        We refer to PRE-TPHC REF NO: KPC/RA/11/2 dated 20.02.2024 and final TPHC REF:KPC/RA/11/3 dated 22.02.2024 and
        hereby
        authorize KPC to release 120.00 MT of PMS to GREEN WELLS ENERGIES LTD.

        <br>

        After this release, the balance under the TPHC will be 42.343 MTS.
    </div>

    <div class="parties">
        <div class="signature">
            Yours Faithfully,
            <br><br>
            ............................<br>
            TIMOTHY MULONGO<br>
            SNR BDM, TRADE FINANCE
        </div>

        <span class="spacer"></span>

        <div class="cc">
            CC: OMC NAME<br>
            ............................<br>
            JOHN NYAWIRA<br>
            SNR BDM, TRADE FINANCE
        </div>
    </div>


</div>