<!-- <title>KCB Third Party Holding Certificate Request</title> -->

<div class="header">
    <h2>KCB Request to Issue Third Party Holding Certificate</h2>
</div>

<div class="date">
    24th April, 2024
</div>

<div class="recipient">
    The Managing Director<br>
    Kenya Pipeline Company Limited<br>
    P.O Box 73442-00200 -00100 Nairobi Kenya
</div>

<div class="sender">
    Corporate Banking Division<br>
    KCB Towers<br>
    Kenya Road Upperhill<br>
    P.O Box 48400 -00100 Nairobi, Kenya
</div>

<div class="sender-details">
    <div class="sender-address">
        Tel: +254 203270000<br>
        Mobile: +254 711012000
    </div>
    <div class="sender-contact"></div>
</div>

<div class="subject">
    RE: REQUEST TO ISSUE THIRD PARTY HOLDING CERTIFICATE
</div>

<div class="request-details">
    We intend to finance the following AGO LOCAL cargo for GREEN WELLS ENERGIES LIMITED.

    <div class="request-details-item">
        <div class="request-details-item-title">
            1. Cargo of 480.000 MTS delivered per EX - GALANA ENERGIES LTD Ex -MT NORDDOLPHIN
        </div>
        <div class="request-details-item-content"></div>
    </div>
</div>

<div class="request">
    We would therefore like to request for Third-Party Holding Certificate for this product and hereby kindly request
    you to:-

    <div class="request-item">
        <div class="request-item-content">
            1. Hold the entire product quantity received at KPC on the account of GREEN WELLS ENERGIES LIMITED in trust
            to KCB BANK KENYA LTD, TRADE FINANCE, 1st FLOOR, KCB TOWERS, NAIROBI
        </div>
    </div>

    <div class="request-item">
        <div class="request-item-content">
            2. That you undertake to only release the products upon receipt of release instructions from KCB BANK KENYA
            LTD signed by the authorized signatories
        </div>
    </div>

    <div>
        We kindly request your cooperation on this matter and a written confirmation, by return email to abide by our
        request.
    </div>

    <div>
        PLEASE COPY YOUR LETTER TO GREEN WELLS ENERGIES LIMITED.
    </div>

</div>

<div class="signature">
    Yours Faithfully,
    <br><br>
    ............................<br>
    IRENE MUGWE<br>
    SNR BDM, TRADE FINANCE
</div>

<div class="cc">
    CC: OMC NAME<br>
    ............................<br>
    JOHN NYAWIRA<br>
    SNR BDM, TRADE FINANCE
</div>