<div class="container">
    <div class="header">
        <h2>PRE-TPHC Confirmation</h2>
    </div>

    <div class="date">
        24th April ,2024
    </div>

    <div class="sender">
        TMR PAUL RUSSO, Chief Executive Officer
        <br>
        KCB Bank Kenya LTD
        <br>
        KENCOM HOUSE
        <br>
        P.O BOX 48400
        <br>
        NAIROBI
    </div>

    <div class="recipient">
        Carolie Adhiambo Okello
        <br>
        Managing Director
        <br>
        Green Wells Energies
        <br>
        Mega Plaza Building , 5th Floor Wing B
        <br>
        P.O Box 3936-40100
        <br>
        Kisumu, Kenya
    </div>

    <div class="subject">
        PRE-TPHC CONFIRMATION FOR 300MT AGO IMPORT PURCHASE FROM EX GULF ENERGY LTD EX MT ELLI
    </div>

    <div class="content">
        We acknowledge receipt of notification dated 15th March 2024 where KCB Bank Kenya Limited, P.O. Box 48400-00100
        Corporate Banking Division, KCB Towers, Nairobi Kenya has agreed to provide financing to Green Wells Energies to
        facilitate acquisition of 300MT of AGO import purchase from GULF ENERGY LTD EX MT ELLI to the KOSF nomination
        schedule.

        <br>

        As per Agreement for Transport, Storage and delivery of financed products Side Agreement No. GREENWELLS/KCB/MT
        ELLI
        EX GULF ENERGY LTD/AGO/300MT/14-2024 LOCAL, we undertake to hold the AGO products in trust and in favour of KCB
        Bank
        Kenya Limited upon receipt of Adjustment Stock Entitlement (ASE), subject to the allocated ullage, and
        instructions
        from yourselves to release the said products.

        <br>

        We also wish to state the final quantities received into KPC-KOSF/KPRL, will be based on the executed ASE and
        thereafter a TPHC will be issued. Kindly sign and return this letter for your acceptance of the terms herein.
    </div>

    <div class="signature">
        Yours Faithfully,
        <br><br>
        ............................................
        <br>
        <div class="signature-name">MICHAEL MALAKWEN</div>
        FOR: MANAGING DIRECTOR
    </div>
</div>