<!-- <title>OMC Release Stock Request</title> -->

<div class="header">
    <h2>OMC Release Stock Request</h2>
</div>

<div class="ref-date">
    <div>Ref: GWEL/CFA/001</div>
    <div>Date: 24th April, 2024</div>
</div>

<div class="recipient">
    HEAD OF TRADE FINANCE<br>
    KCB BANK KENYA LIMITED<br>
    P.O BOX 48400 - 00100 NAIROBI
</div>

<div class="subject">
    RE: REQUEST FOR RELEASE OF STOCK — 120.000 MT OF PMS MT ZENOVIA LADY LD2405110233
</div>

<div class="content">
    We would like to request you to release the below product and debit our KSH account no: 1138112682 with Kshs.
    15,765,038.86 equivalent 120.000 MTS of PMS MT ZENOVIA LADY

    <div class="invoice-details">
        <div class="invoice-details-item">
            <div class="invoice-details-item-label">Invoice No:</div>
            <div>CINV/2024/4638</div>
        </div>

        <div class="invoice-details-item">
            <div class="invoice-details-item-label">Drawn on:</div>
            <div>GULF ENERGY LIMITED</div>
        </div>

        <div class="invoice-details-item">
            <div class="invoice-details-item-label">For importation of:</div>
            <div>612.343 MT PMS</div>
        </div>

        <div class="invoice-details-item">
            <div class="invoice-details-item-label">Shipped by:</div>
            <div>MT ZENOVIA LADY</div>
        </div>

        <div class="invoice-details-item">
            <div class="invoice-details-item-label">This Release:</div>
            <div>120.000 MT</div>
        </div>

        <div class="invoice-details-item">
            <div class="invoice-details-item-label">Balance:</div>
            <div>MTS: 42.343</div>
        </div>

    </div>

    Please issue necessary instructions to KPC to release the cargo at the earliest, under advice to us.
</div>

<div class="signature">
    Yours Faithfully,
    <br><br>
    Caroline Adhiambo Okello
</div>

<div class="sender-details">
    <div class="detail">Mega Plaza Building, 5th Floor Wing B</div>
    <div class="detail">P.O BOX 3936-40100, KISUMU</div>
    <div class="detail">Cell:01138640</div>
    <div class="detail">Email:info&#64;greenwells.com</div>
</div>