table {
    border-collapse: collapse;

}

.customer-table {
    margin: 0 0 0 30px;
    // width: 90%;
}

.table-header {
    font-weight: bold;
    color: white;
    background-color: #003D4C;
    border-radius: 55px;
    // padding-bottom: 30px;
    // height: 100px;
}

// .mat-mdc-row .mat-mdc-cell {
//     background-color: #F3F3F3;
// }


th {
    text-align: left;
    font-weight: bold;
}

table th:first-child {
    border-radius: 10px 0 0 10px;
}

table th:last-child {
    border-radius: 0 10px 10px 0;
}