table {
    border-collapse: collapse;
    margin: 0 0 0 30px;
    width: 90%;
}

.table-header {
    font-weight: bold;
    background-color: #003D4C;
    height: 50px;
}

th {
    text-align: left;
    font-weight: bold;
}

table th:first-child {
    border-radius: 10px 0 0 10px;
}

table th:last-child {
    border-radius: 0 10px 10px 0;
}