<table ngSkipHydration>
    <tr class="table-header">
      <th>Customer Name</th>
      <th>Customer Code</th>
      <th>Total Accounts</th>
      <th>Currency</th>
      <th>Available Balance</th>
      <th>Deposits</th>
      <th>Loans</th>
    </tr>
    <tr>
      <td>Mahaya Health Centre</td>
      <td>102424</td>
      <td>3</td>
      <td>KES</td>
      <td>410.50 M</td>
      <td>811 M</td>
      <td>10.50 M</td>
    </tr>
    <tr>
      <td>Kenya Railways Corporation</td>
      <td>213535</td>
      <td>5</td>
      <td>USD</td>
      <td>38.77 B</td>
      <td>76.44 B</td>
      <td>8.77 B</td>
    </tr>
    <tr>
      <td>Kenya Rural Roads Authority</td>
      <td>324646</td>
      <td>9</td>
      <td>KES</td>
      <td>5.60 B</td>
      <td>10.2 B</td>
      <td>60 M</td>
    </tr>
    <tr>
      <td>Civil Servants Housing Scheme Fund</td>
      <td>435757</td>
      <td>1</td>
      <td>KES</td>
      <td>3.7 B</td>
      <td>7.4 B</td>
      <td>700 M</td>
    </tr>
    <tr>
      <td>Kenya Power & Lighting Company</td>
      <td>546868</td>
      <td>8</td>
      <td>USD</td>
      <td>14.7 B</td>
      <td>29.4 B</td>
      <td>4.70 B</td>
    </tr>
    <tr>
      <td>Agriculture Settlement Fund</td>
      <td>098765</td>
      <td>2</td>
      <td>KES</td>
      <td>7.49 B</td>
      <td>15.94 B</td>
      <td>490 M</td>
    </tr>
    <tr>
      <td>Communications Authority of Kenya</td>
      <td>432109</td>
      <td>7</td>
      <td>KES</td>
      <td>4.42 B</td>
      <td>8.84 B</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Kenya Electricity Transmission</td>
      <td>876543</td>
      <td>3</td>
      <td>KES</td>
      <td>4.26 B</td>
      <td>8.52 B</td>
      <td>260 M</td>
    </tr>
    <tr>
      <td>National Drought Management Authority</td>
      <td>210987</td>
      <td>6</td>
      <td>KES</td>
      <td>3.98 B</td>
      <td>7.96 B</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Kenya National Highways Authority</td>
      <td>654321</td>
      <td>5</td>
      <td>KES</td>
      <td>1.74 B</td>
      <td>3.48 B</td>
      <td>40 M</td>
    </tr>
  </table>
  