<h1>KENYA PIPELINE COMPANY LIMITED</h1>

<p>AND</p>

<h1>GREEN WELLS ENERGIES LIMITED</h1>

<p>AND</p>

<h1>KCB BANK KENYA LIMITED</h1>

<h2>AN AGREEMENT FOR TRANSPORTATION, STORAGE AND DELIVERY OF FINANCED PRODUCTS</h2>

<h3>SIDE AGREEMENT NUMBER:</h3>

<p>TRINITY/KCB/ MT STI SUPREME EX GULF ENERGY LTD/PMS / 400MT/25-2024 TRANSIT</p>

<hr>

<h2>BETWEEN:-</h2>

<p>
  <strong>A. KENYA PIPELINE COMPANY LIMITED:</strong> a limited liability company incorporated in Kenya under
  Certificate of Registration Number C11963 and having its registered office at Kenpipe Plaza Sekondi Road Off
  NanyukiRoad and whose postal address is Post Office Box Number 73442-00200 Nairobi Kenya (hereinafter called
  <strong>KPC</strong>) of the first part
</p>

<p>
  <strong>B. TRINITY ENERGY KENYA LTD:</strong> a limited liability company incorporated in Kenya under
  Certificate of Registration Number CPR/2010/20725 and having its registered office at 8th Floor, Delta chamber,
  Waiyaki Way Flamingo Towers, 8th Floor Wing B and whose address is Post Office Box Number 17608 -00100 Nairobi Kenya
  hereinafter called <strong>the Oil Marketing Company</strong> of the second part
</p>

<p>
  <strong>C. KCB BANK KENYA LIMITED:</strong> a bank incorporated in the Republic of Kenya under Certificate of
  Registration Number CPR/2015/185698 whose address is care of Post Office Box Number 48400 - 00100 Nairobi Kenya
  hereinafter called "the Financier" which expression shall where the context so admits include its successors. and
  assigns and together with KPC and the OMC called "the Parties" and each "a Party" of the third part
</p>

<p>
  AND IS SUPPLEMENTAL to the TRANSPORTATION AND STORAGE AGREEMENT the Transportation and Storage Agreement and the
  expression includes any amendment thereof dated 29<sup>th</sup> May 2019 made between the OMC and KPC.
</p>

<h2>WHEREAS:-</h2>

<ol type="a">
  <li>KPC owns and/or operates and maintains in various places in Kenya a system of pipeline storage and ancillary
    facilities (hereinafter referred to as the <strong>System</strong>) for all kinds of petroleum products.
  </li>
  <li>The OMC is a dealer in various grades of petroleum products and uses the System from time to time.</li>
  <li>The OMC has requested and KPC has agreed to allow the OMC to use the System for receipt storage transportation
    and delivery of petroleum products owned by the OMC or otherwise financed by the Financier at the request of the OMC
  </li>
  <li>KPC and the OMC have entered into Transport and Storage Agreement "the TSA" dated 2<sup>nd</sup> May 2019
    and the OMC has agreed to assign their rights over the financed consignments to the Financier pursuant to clause
    18.2 of the TSA
  </li>
  <li>This Agreement Reference. TRINITY/KCB/ MT STI SUPREME EX GULF ENERGY LTD/PMS / 400MT/25-2024 TRANSIT shall
    be read in conjunction with the Transportation and Storage Agreement "TSA"
  </li>
  <li>
    The Financier has agreed to provide financing to the OMC to facilitate acquisition of Consignments of petroleum
    products for which the OMC has provided security to the Financier. It has been agreed by the parties herein
    that for purposes of day to day operations, the OMC will have control and ownership rights over the products
    financed by way of security, subject however to the terms of this Agreement. Provided that KPC shall hold the
    first irrevocable rights to recover amounts due to KPC from the OMC presently or in future in respect of the
    transactions and services rendered by KPC to the OMC, as the case may be, on all the products held in custody by
    KPC for the account of the OMC.
  </li>
  <li>
    Subject to clause (f) above, it is a term of the arrangements that petroleum products financed by the
    Financier from time to time and held on account of the OMC with KPC hereinafter called <strong>the Petroleum
      Products</strong> shall at all times be deemed to be owned by the Financier as security for amounts advanced
    and accordingly the Financier shall alone authorize their disposal.
  </li>
  <li>
    The OMC has now requested and KPC has agreed to allow the OMC to have the petroleum products financed by the
    Financier in KPC s custody and any of its rights arising thereunder or in connection with the TSA signed
    between KPC and the OMC, to be used as collateral for such financing in accordance with the terms hereinafter
    appearing.
  </li>
</ol>

<h2>A. AGREEMENT</h2>

<ol>
  <li>
    The OMC hereby confirms to KPC and to the Financier that:
    <ol type="1">
      <li>The Petroleum Products held on account of the OMC with KPC that are the subject of this Agreement have
        been financed by the Financier and are accordingly to be held by KPC or by the OMC in trust for the
        Financier, subject to the provisions of this Agreement
      </li>
      <li>The Petroleum Products are to be disposed of in accordance with the written instructions of the
        Financier as provided in this Agreement
      </li>
      <li>KPC shall charge the OMC an administration fee of US Dollars 2,000 per month excluding VAT payable in
        advance. An additional 0.01% will be charged for Petroleum Products handled or stored during the quarter
        in excess of Hydrocarbon value of Dollars 1,000,000.
      </li>
      <li>KPC shall in addition to the administration fee be reimbursed by the OMC, any costs or expenses
        incurred by KPC directly as a result of carrying out its obligations under this Agreement
      </li>
    </ol>
  </li>
  <li>
    KPC hereby acknowledges the confirmation by the OMC and further confirms to the Financier that it shall hold
    the Petroleum Products on account of the OMC but in trust for the Financier and shall at all times proceed
    as per the Financier's instructions.
  </li>
</ol>

<h2>B. OBLIGATIONS OF KPC</h2>

<p>KPC undertakes to the Financier and to the OMC as follows:</p>

<ol>
  <li>
    Transportation and Storage Agreement:
    <ol type="1">
      <li>To comply with all the obligations of KPC under the TSA</li>
      <li>Upon receipt of any release order by the Financier, to give the Financier stock statements of the
        Petroleum Products held by or delivered to the System on account of the OMC and financed by the Financier
      </li>
    </ol>
  </li>
  <li>
    Trust and Statements
    <ol type="1">
      <li>
        Subject to the provisions of this Agreement, to hold the Petroleum Products on account of the OMC but in
        trust for the Financier to the intent that the ownership of the Petroleum Products shall at all times
        be deemed to vest in the Financier as the beneficial and/or legal owner AND KPC hereby acknowledges
        that the Petroleum Products shall at all times be held by KPC in trust for the Financier.
      </li>
      <li>To release the Petroleum Products only as per the release orders signed by duly authorized officers
        of the Financier from time to time as provided for in this Agreement.
      </li>
      <li>To advise the Financier in writing of the grade and quantity of the Petroleum Products held in trust
        for the Financier and to ensure that such statements are accurate and reflect the stock balances on the
        account.
      </li>
      <li>
        KPC shall send an advance copy of the statement by email to the Financier followed by a hard copy duly
        stamped and signed by the authorized officials duly appointed and communicated to the Financier in
        writing, by KPC and it is hereby agreed that a statement issued by KPC in accordance with the terms of
        this Agreement shall be deemed to be final and conclusive and a true reflection of the products held by
        KPC save only for errors which have reasonably occurred beyond KPC's control.
      </li>
    </ol>
  </li>
  <li>
    Upon receipt of the Financier's Notification as stated in clause D.1.2., KPC shall issue a Third Party
    Holding Certificate based on the final outturn data from the appointed independent surveyor determined
    after ship discharge.
  </li>
  <li>
    Indemnity To extend the indemnity provided to THE OMC under the Transportation and Storage Agreement to
    THE FINANCIER upon assignment of THE OMC's rights to THE FINANCIER.
  </li>
  <li>
    Insurance
    <ol type="1">
      <li>
        To maintain at its own cost a comprehensive policy of insurance with insurers of repute: the liability
        of the KPC in respect of any act or default for which it may become liable to indemnify the OMC under the
        terms of this Agreement, and loss or damage of Petroleum Products held in trust for the OMC or the
        Financier as the case may be.
      </li>
      <li>KPC agrees and covenants with the Financier that in the event that a claim becomes payable under any
        such policies for loss or damage to financed Petroleum Products, the Financier shall be paid first for
        any loss suffered by the Financier.
      </li>
      <li>To provide to the Financier a copy of the policy of insurance taken by KPC and any renewal thereof
        from time to time.
      </li>
    </ol>
  </li>
</ol>

<h2>C. OBLIGATIONS OF THE OMC</h2>

<p>The OMC undertakes to KPC and to the Financier as follows::</p>

<ol>
  <li>
    Payment of Cost and Charges
    <ol type="1">
      <li>To pay all costs and charges due to KPC in respect of the transactions and services rendered by KPC
        under this Agreement in respect of the Petroleum Products held in custody by KPC for the account of the
        OMC but in trust for the Financier
      </li>
      <li>To indemnify the Financier and keep the Financier indemnified from any claim for costs and fees due
        to KPC.
      </li>
    </ol>
  </li>
  <li>
    Transportation and Storage Agreement
    <ol type="1">
      <li>Subject to the provisions of this Agreement to comply with all the obligations of the OMC under the
        TSA
      </li>
      <li>To execute all such other agreement as the Financier may deem necessary to secure its interest as
        financier of the Petroleum Products.
      </li>
    </ol>
  </li>
  <li>
    Insurance
    <ol type="1">
      <li>
        To maintain at its own cost a comprehensive policy of insurance with an insurer of repute acceptable to
        the Financier to cover inter alia:
        <ol type="1">
          <li>Loss of Petroleum Products financed by the Financier during transit from KPC Systems to the
            warehouse owned or controlled by the OMC
          </li>
          <li>The liability of the OMC in respect of any act or default for which it may become liable to
            indemnify the Financier under the terms of this Agreement, and
          </li>
          <li>Loss or damage of Petroleum Products held in trust for the Financier due to an act of third
            party (ies)
          </li>
        </ol>
      </li>
      <li>To note the interest of the Financier as loss payee in the policies of insurance put in place for
        the full market value (at any one time) of the products held and the OMC agrees and covenants with the
        Financier that in the event that a claim becomes payable under any such policies, the Financier shall
        be paid first.
      </li>
      <li>To provide to the Financier a copy of the policy of insurance taken by the OMC and any replacement
        thereof from time to time.
      </li>
    </ol>
  </li>
</ol>

<h2>C. OBLIGATIONS OF THE FINANCIER</h2>

<ol>
  <li>
    Authorised Signatories
    <ol type="1">
      <li>The Financier shall advise KPC of the authorized signatories of the Financier with poweer togive
        instructions on any matter relating to the petroleum products or under this Agreement
      </li>
      <li>
        Notifications to KPC Financier to notify KPC of any and every financed consignment. The Financier's
        notification shall;
        <ol type="1">
          <li>Be on hard copy or scanned e-mail on their letterheads and signed by authorized signatories</li>
          <li>Be uniquely identified by a coded reference indicating the OMC/Financier/ Vessel/Grade/Proposed
            Volume/Serial Number Transit/Local product and shall be followed by a hard copy duly signed by
            authorized signatories to reach
          </li>
        </ol>
      </li>
      <li>The Financier shall also advise KPC of any changes made on the authorized signatories immediately such
        change is made.
      </li>
      <li>
        <ol type="i">
          <li>Bank releases shall contain coded serial reference number indicative of the OMC / Financier /
            Grade / Vessel / Consignment number /Release number.
          </li>
          <li>Financiers release letters shall indicate the expected remaining balances as per their records
            after each release..
          </li>
          <li>Financiers shall not combine clients in one release.
          </li>
          <li>Releases shall be to the specific OMC who has entered into a CFA with the Financier and KPC
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Indemnity The Financier shall indemnify KPC against all loss damage or liability (whether criminal or
    civil) suffered and legal fees and costs incurred by KPC resulting from breach of this Agreement by the
    Financier including without limitation:-
    <ol type="1">
      <li>Any act neglect or default of the Financier employees licensees or agents</li>
      <li>Any act of a third party having a claim against the Financier; and</li>
      <li>Breaches in respect of any matter arising from the performance by the Financier of its obligations
        under this Agreement or under the Transportation and Storage Facility Agreement or arising from any
        successful claim by any third party.
      </li>
    </ol>
  </li>
</ol>

<h2>E. FURTHER AGREEMENTS</h2>

<p>The Parties herein further agree as follows:</p>

<ol>
  <li>
    Retained Products The Financier may instruct KPC not to release some quantities of the Petroleum
    Product(s) Retained Products on terms agreed between the Financier and KPC or as otherwise provided in
    the Transportation and Storage. Agreement. Statements of such Retained Products shall be regularly issued
    to the Financier in accordance with clause B 2.4 above.
  </li>
  <li>
    Warranty Each of the Parties hereto warrants that it has power to enter into and perform its respective
    obligations under this Agreement and confirms that it has obtained all necessary approvals to do so.
  </li>
  <li>
    Severance If any provision of this Agreement is declared by any judicial or other competent authority to
    be void voidable illegal or otherwise unenforceable or indications to that effect are received by either of
    the Parties from any competent authority the Parties shall amend that provision in such reasonable manner
    as achieves the intention of the Parties without illegality or at the discretion of the Parties it may be
    severed from this Agreement and the remaining provisions of this Agreement shall remain in full force
    and effect.
  </li>
  <li>
    Limitation of Liability KPC shall only be held liable/accountable for the final quantities received into
    KPC system based on the final outturn data from the appointed independent surveyor.
  </li>
  <li>
    Waiver The failure by either Party to enforce at any time or for any period any one or more of the terms or
    conditions of this Agreement shall not be a waiver of them or of the right at any time subsequently to
    enforce all terms and conditions of this Agreement.
  </li>
  <li>
    Notice Each Party shall comply with the terms of any Notice specifying a breach of the provisions of this
    Agreement and requiring the breach to be remedied so far as it may be but nothing in this clause is
    intended to require any Party to serve notice of any breach before taking action in respect of it.
  </li>
  <li>
    Rights cumulative All rights granted to either of the Parties shall be cumulative and no exercise by
    either of the Parties